.form_estado_manu{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#btn_estado_events_real_time{
    opacity: 0.59;
    border: none;
    width: 63px;
}
.inicio{
    width: 166px;
}
.inputs_events {
    background-color: #00000033;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    color: black;
    /* font-size: 14px; */
}
#btn_logica{
    width: 166.4px;
}
/* apartado responsive auto */
.home{
    color: rgb(0, 0, 0);
    position: absolute;
    background: rgb(255, 255, 255, 0.5);
    width: 500px;
    left: 264px;
    right: 21px;
    border-radius: 21px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    gap: 0px;
    width: auto;
    height: auto;
    justify-content:center;
    max-width: 965px;
    align-items: center;
}
.apartados {
    background: #fff;
    margin: 10px;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    height: fit-content;
}
body::-webkit-scrollbar{    
    background: grey;
}
  
body::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}
.info_event{
    display: none;
}

:target{
    display: block;
}
a{
    text-decoration:none;
    color: black;
}

/* icono de fav */
/* titulo y label flex */
 .fecha_titulo {
    justify-content: center;
    display: flex;
    gap: 5px;
    align-items: center;
}
/* hacer invisible el inputdel fav */
#btn_fav_event_1,
#btn_fav_event_2,
#btn_fav_event_3,
#btn_fav_event_4,
#btn_fav_event_5,
#btn_fav_event_6{
    display: none;
}
/* cambio de color en cheked */
#btn_fav_event_1:checked ~ .fav_event,
#btn_fav_event_2:checked ~ .fav_event,
#btn_fav_event_3:checked ~ .fav_event,
#btn_fav_event_4:checked ~ .fav_event,
#btn_fav_event_5:checked ~ .fav_event,
#btn_fav_event_6:checked ~ .fav_event
{
    color: #61A0FF;
}
/* cambio de icono */
#btn_fav_event_1:checked ~ .fav_event:after,
#btn_fav_event_2:checked ~ .fav_event:after,
#btn_fav_event_3:checked ~ .fav_event:after,
#btn_fav_event_4:checked ~ .fav_event:after,
#btn_fav_event_5:checked ~ .fav_event:after,
#btn_fav_event_6:checked ~ .fav_event:after{
    content: "\2605";
    font-size: 20px;
}
/* icono sin favorito checked */
.fav_event:after{
    content: '\2606';
    transition: 0.3s;
    font-size: 20px;
}
/* tamaño de iconos */
.fav_event{
    height: 31px;
}


